# Virtual Environment
venv/
/venv
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
/logs
*.log
*.logs
*.log.*
log/
/log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/ 